.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-content{
  display: flex;

  width: 180px;
  height: 60px;
  margin: 5px;

  
  border: 2px solid #293548;
  border-radius: 10px;

  .skill-item {
    i {
      font-size: 35px;
      margin-inline: 8px;
    }
    align-self: center;
    font-size: 20px;

    .skill-name {
      position: relative;
      top: -7px;
    }
  }
}