.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skill-content {
  display: flex;

  width: 180px;
  height: 60px;
  margin: 5px;

  border: 2px solid #293548;
  border-radius: 10px;

  .skill-item {
    i {
      font-size: 35px;
      margin-inline: 8px;
    }
    align-self: center;
    font-size: 20px;

    .skill-name {
      position: relative;
      top: -7px;
    }
  }
}

@media (max-width: 480px) {
  .skill-container {
    overflow-x: scroll;
    height: 300px;
    margin-left: 10px;
  }

  .skills {
    justify-content: left;
    width: 1000px;
  }

  .skill-content {
    width: 185px;
  }
}
