<nav [ngClass]="{ open: openStatus }">
  <div class="desktop">
    <ng-container
      *ngTemplateOutlet="itemsMenu; context: { $implicit: 'desktop' }"
    >
    </ng-container>
  </div>
  <div class="mobile">
    <i
      [ngClass]="openStatus ? 'icon close' : 'icon menu'"
      (click)="changeStatus()"
    ></i>
    <div class="menu-items" [ngClass]="{ hidden: !openStatus }">
      <ng-container
        *ngTemplateOutlet="itemsMenu; context: { $implicit: 'mobile' }"
      >
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #itemsMenu let-view>
  <div *ngFor="let menu of menus" class="item">
    <a [href]="menu.path" (click)="view === 'mobile' ? changeStatus() : null">
      {{ menu.name }}
    </a>
  </div>
</ng-template>
