<div class="modal" *ngIf="isOpen" (click)="close()">
  <div class="container">
    <div class="content" (click)="preventClose($event)">
      <i class="icon close" (click)="close()"></i>
      <div
        class="image"
        [ngClass]="{ fit: data.fit ?? false }"
        [style]="{ 'background-image': 'url(' + data.image + ')' }"
      ></div>
      <h2 class="title">{{ data.title }}</h2>
      <p class="discription">{{ data.description }}</p>
      <div class="buttons">
        <a
          class="button icon"
          [href]="button.value"
          target="_blank"
          *ngFor="let button of buttons"
        ></a>
      </div>
    </div>
  </div>
</div>
