<app-navbar></app-navbar>

<app-container>
  <div class="presentation">
    <div class="info">
      <h2><i class="icon hi"></i> Hi, I'm</h2>
      <h1 class="my-name">Lucas</h1>
      <h2 class="dev">&lt;&gt;FullStack Developer&lt;/&gt;</h2>
    </div>
    <div class="image">
      <img src="../assets/presentation/coding.png" alt="" />
    </div>
  </div>

  <app-section name="Works" id="works">
    <app-cards [cards]="works"></app-cards>
  </app-section>
  <app-section name="Projects" id="projects">
    <app-cards [cards]="projects"></app-cards>
  </app-section>
  <app-section name="Skills" id="skills">
    <app-skill></app-skill>
  </app-section>
  <app-section name="Contact" id="contact"> </app-section>
</app-container>
