/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"); /* Using a url */

body {
  background-color: #111827;
  margin: 0;
}
* {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
}

.lock-scroll {
  overflow-y: hidden;
}

.icon {
  &.menu {
    top: -6px;
    &::before {
      content: url("./assets/icons/icons8-menu.svg");
    }
  }

  &.close::before {
    content: url("./assets/icons/icons8-close.svg");
  }

  &.hi::before {
    content: url("./assets/presentation/emoji-hi.svg");
  }

  &.linkedin::before {
    content: url("./assets/icons/fas-linkedin.svg");
  }

  &.github::before {
    content: url("./assets/icons/fas-github.svg");
  }

  &.email::before {
    content: url("./assets/icons/fas-email.svg");
  }
}
